@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
body{
    background-image: url("../vote/image.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow-x: hidden;
    padding-bottom: 50px;
}
body .service .service_child{
    cursor: pointer;
}
body .service .service_child1{
    cursor: pointer;
    background-color: gray; padding: 15px 15px; border-radius: 50%;
    opacity: 0.5;
    color: white;
    transition: 0.3s;
}
body .service .service_child1:hover{
    opacity: 1;
}
/*text header*/
body .text_header{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    margin-top: 30px;
    font-weight: 900;
    font-family: serif;
}
/*change img*/
body .change_img{
    margin-top: 20px;
    height: 500px;
    width: 80vw;
    transform: translateX(10vw);
    border-radius: 30px;
    background-image: url("https://i.ytimg.com/vi/knW7-x7Y7RE/maxresdefault.jpg");
    background-size: cover;
    transition: 0.5s;
    opacity: 0.9;
}
body .chart{
    margin-top: 30px;
    height: 400px;
    width: 80vw;
    transform: translateX(10vw);
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px #f8f9fa;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 30px;
}
body .chart .chart_child{
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    position: relative;
}
body .chart .chart_child p{
    position: absolute;
    font-size: 20px;
    bottom: 40%;
    font-weight: 700;
    width: 100%;
    text-align: center;
}
body .chart .chart_child .column{
    height: 80%;
    width: 80px;
    background-color: #8ecae6;
    position: relative;
    transition: 0.3s;
}
body .chart .chart_child .column:hover{
    cursor: pointer;
    background-color: #00b4d8;
}
body .chart .chart2 .column{
    height: 30%;
}
body .chart .chart3 .column{
    height: 100%;
}
body .chart .chart4 .column{
    height: 50%;
}
body .chart .chart5 .column{
    height: 40%;
}
/*list_singer*/
body .list_singer{
    margin-top: 30px;
    width: 80vw;
    min-height: 500px;
    transform: translateX(10vw);
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px #e9ecef;
    padding-top: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 30px;
}
body .list_singer .input{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
body .list_singer .input input{
    width: 80%;
    padding-left: 40px;
    height: 40px;
    background-color: transparent;
    color: black;
    outline: none;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
    padding-right: 60px;
}
body .list_singer .input i{
    position: absolute;
    left:  calc(10% + 10px);
    bottom: 10px;
    font-size: 20px;
}
body .list_singer .list_header{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    font-style: italic;
    font-weight: 600;
}
body .list_singer .list{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
body .list_singer .list .singer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    text-decoration: underline;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: -3px -1px 5px 2px gray;
    cursor: pointer;
    transition: 0.3s;
}
body .list_singer .list .singer:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
/*detail*/
body .blur1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: none;
}
body .singer_detail{
    position: fixed;
    width: 400px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    border-radius: 20px;
    left: calc(50vw - 200px);
    color: white;
    scale: 0;
    transition: 0.2s;
}
body .singer_detail a{
    color: #8ecae6;
}
body .singer_detail p{
    font-size: 30px;
    text-decoration: underline;
}
body .singer_detail .number{
    font-size: 15px;
    text-decoration: none;
}
body .singer_detail button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #a7c957;
    cursor: pointer;
    font-weight: 600;
}
body .singer_detail button:hover{
    background-color: #6a994e;
}
body .singer_detail button:focus{
    border: 1px solid white;
}
body .singer_detail i{
    position: absolute;
    color: white;
    top: 20px;
    font-size: 20px;
    right: 20px;
    cursor: pointer;
}
body .singer_detail i:hover{
    color: gray;
}
/*social*/
body .social{
    position: fixed;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    scale: 1;
    transition: 0.3s;
    bottom: 10px;
    right: 80px;
    scale: 0;
}
body .social img{
    cursor: pointer;
}

/*list_voted*/
body .list_voted{
    width: 70vw;
    height: 90vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    top: -100vh;
    left: 15vw;
    padding-top: 15px;
    padding-right:10px;
    padding-bottom: 10px;
    border-radius: 20px;
    transition: 0.3s;
}
body .list_voted .no_singer{
}
body .list_voted .list{
    width: 70vw;
    height: 80vh;
    max-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    align-items: center;
    row-gap: 20px;
}
body .list_voted .singer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: -3px -1px 5px 2px gray;
    cursor: pointer;
    transition: 0.3s;
    color: black;
}
body .list_voted .singer p{
    text-decoration: underline;
}
body .list_voted .singer .unvote{
    padding: 8px 15px;
    background-color: #ef233c;
    border: none;
    border-radius: 10px;
    text-decoration: none !important;
    font-size: 15;
}
body .list_voted .singer .unvote:hover{
    background-color: #d90429;
}
body .list_voted .singer:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
/*result research*/
body .list_singer .input .result_search{
    position: absolute;
    width: 400px;
    min-height: 250px;
    max-height: 250px;
    background-color: rgba(255, 255, 255);
    left: 140px;
    top: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px gray;
}
body .list_singer .input .result_search .content1{
    padding: 10px 10px;
}
body .list_singer .input .result_search .content1 .content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 10px;
    padding-bottom: 0px;
    overflow-y: auto;
    min-height: calc(230px);
    max-height: calc(230px);
    padding: 10px 10px;
}
body .list_singer .input .result_search .content .div{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    border-radius: 10px;
    justify-content: flex-start;
    padding: 10px 10px;
    padding-left: 0px;
    font-size: 20px;
    padding-left: 10px;
}
body .list_singer .input .result_search .content .div:hover{
    box-shadow: 1px 1px 5px 1px gray;
}
body .list_singer .input .result_search .content .div:hover p{
    text-decoration: underline;
}
body .list_singer .input .result_search .content1 .content::-webkit-scrollbar {
    width: 8px; /* Thiết lập kích thước chiều rộng thanh cuộn */
    transition: width 0.3s;
    
}

/* Màu của thanh cuộn khi không được hover */
body .list_singer .input .result_search .content1 .content::-webkit-scrollbar-thumb {
    background-color: gray; /* Màu của thanh cuộn */
    border-radius: 5px; /* Bo góc cho thanh cuộn */
}

body .list_singer .input .result_search .content1 .content::-webkit-scrollbar-thumb:hover {
    background-color: #999; /* Màu của thanh cuộn khi được hover */
    width: 7px;
}
#close_result{
    font-size: 20px;
    width: fit-content;
    left: calc(70vw);
    position: absolute;
    cursor: pointer;
}
#close_result:hover{
    color: gray;
}
body > div.service > img{
	display: none;
}

body > div.service > i.fa-solid.fa-plus.service_child1{
	display: none;
}