@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
body{
    background-color: black;
    background-image: url("/Singer_Vote/img/taylor.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
}
body .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body .header button{
    padding: 0;
    font-size: 16px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px 30px;
    transform: translateX(-30px);
}
body .header button:hover{
    background-color: gray;
    opacity: 0.6;
}
body .header .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(30px);
    justify-content: center;
}
body .header .logo p{
    font-size: 30px;
    color: white;
}
body .main .text{
    color: white;
}
body .main{
    position: absolute;
    top: calc(50% - 40px);
    left: 50px;
}
body .main .top{
    font-size: 50px;
    font-weight: 700;
}
body .main .bottom{
    font-size: 20px;
    color: #ced4da;
}
body .main button{
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 9px;
    transform: translateX(20px);
    font-weight: 600;
    cursor: pointer;
    border: 1px solid black;
    transition: 0.3s;
}
body .main button:hover{
    background-color: gray;
    color: white;
}
body .contact{
    display: flex;
    color: white;
    flex-direction: column;
    font-size: 30px;
    gap: 20px;
    position: absolute;
    bottom: 50px;
    right: 50px;
}
body .contact i{
    cursor: pointer;
}
body .contact i:hover{
    color: gray;
}
/*login*/
body .login{
    position: absolute;
    height: 400px;
    width: 400px;
    background-color: #161a1d;
    left: calc(50vw - 200px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    gap: 10px;
    position: relative;
    top: -700px;
    transition: 0.3s;
}
body .login .input div{
    position: relative;
}
body .login .fa-xmark{
    position: absolute;
    color: white;
    top: 10;
    right: 10;
    font-size: 20px;
    cursor: pointer;
}
body .login .fa-xmark:hover{
    color: gray;
}
body .login .logo{
    display: flex;
    justify-content: center;
}
body .login .text1 p{
    font-size: 25px;
    color: white;
    transform: translateY(-15px);
}
body .login .input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
body .login .input input{
    width: 100%;
    height: 35px;
    border-radius: 3px;
    padding-left: 5px;
    outline: none;
    background-color: #343a40;
    border: 1px solid #ced4da;
    color: white;
    font-size: 15px;
    padding-right: 30px;
}
body .login .input input::placeholder{
    color: #ced4da;
}
body .login .input input:focus{
    border: 1px solid #1d9bf0;
}
body .login .input input:focus::placeholder{
    color: #1d9bf0;
}
body .login .input p{
    width: 100%;
    text-align: end;
    color: white;
    font-style: italic;
    text-decoration: underline;
    font-size: 13px;
    cursor: pointer;
}
body .login .input p:hover{
    color: #1d9bf0;
}
body .login .button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
body .login .button button{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
body .login .button .google{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
    background-color: white;
    border-radius: 8px;
    justify-content: center;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
body .login .button .text{
    display: flex;
    gap: 5px;
    color: white;
    font-size: 13px;
}
body .login .button .text .p2{
    color: #1d9bf0;
    cursor: pointer;
}
body .login .button .text .p2:hover{
    text-decoration: underline;
}
body .login .button1:hover{
    background-color: #ced4da;
}
body .blur{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    display: none;
}
/*signup*/
body .signup{
    display: flex;
    position: absolute;
    height: 400px;
    width: 400px;
    background-color: #161a1d;
    left: calc(50vw - 200px);
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 30px;
    padding-right: 30px;
    scale: 0;
    transition: 0.3s;
    top: 100px;
}
body .signup .text1 p{
    color: white;
    font-size: 25px;
    transform: translateY(-15px);
}
body .signup .input{
    width: 100%;
    position: relative;
}
body .eye{
    position: absolute;
    top: 9;
    right: 10;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
body .eye:hover{
    color: #1d9bf0;
}
body .signup .input input{
    width: 100%;
    height: 35px;
    border-radius: 3px;
    padding-left: 5px;
    outline: none;
    background-color: #343a40;
    border: 1px solid #ced4da;
    color: white;
    font-size: 15px;
    padding-right: 35px;
}
body .signup .input input::placeholder{
    color: #ced4da;
}
body .signup .input input:focus{
    border: 1px solid #1d9bf0;
}
body .signup .input input:focus::placeholder{
    color: #1d9bf0;
}
body .signup .button{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
body .signup .button button{
    width: 100%;
    font-size: 16px;
    height: 40px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}
body .signup .button button:hover{
    background-color: #ced4da;
}
body .signup .button .text{
    display: flex;
    color: white;
    justify-content: center;
    font-size: 13px;
    gap: 5px;
}
body .signup .button .text .p2{
    color: #1d9bf0;
    cursor: pointer;
}
body .signup .button .text .p2:hover{
    text-decoration: underline;
}
body .signup .fa-xmark{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
body .signup .fa-xmark:hover{
    color: gray;
}
/*forgot*/
body .forgot{
    display: flex;
    position: absolute;
    height: 400px;
    width: 400px;
    background-color: #161a1d;
    left: calc(50vw - 200px);
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 30px;
    padding-right: 30px;
    scale: 0;
    top: 100px;
    transition: 0.3s;
}
body .forgot .text1 p{
    color: white;
    font-size: 25px;
    transform: translateY(-15px);
}
body .forgot .input{
    width: 100%;
    position: relative;
}
body .forgot .input input{
    width: 100%;
    height: 35px;
    border-radius: 3px;
    padding-left: 5px;
    outline: none;
    background-color: #343a40;
    border: 1px solid #ced4da;
    color: white;
    font-size: 15px;
    padding-right: 30px;
}
body .forgot .input input::placeholder{
    color: #ced4da;
}
body .forgot .input input:focus{
    border: 1px solid #1d9bf0;
}
body .forgot .input input:focus::placeholder{
    color: #1d9bf0;
}
body .forgot .button{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
body .forgot .button button{
    width: 100%;
    font-size: 16px;
    height: 40px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}
body .forgot .button button:hover{
    background-color: #ced4da;
}
body .forgot .button .text{
    display: flex;
    color: white;
    justify-content: center;
    font-size: 13px;
    gap: 5px;
}
body .forgot .button .text .p2{
    color: #1d9bf0;
    cursor: pointer;
}
body .forgot .button .text .p2:hover{
    text-decoration: underline;
}
body .forgot .fa-xmark{
    position: absolute;
    top: 10px;
    right: 10px;
    font: 20px;
    color: white;
    cursor: pointer;
}
body .forgot .fa-xmark:hover{
    color: gray;
}
#eye_signup{
    display: none;
}
#eye_forgot{
    display: none;
}